<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>TV Shows</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2 class="col-10">ADD A NEW SHOW</h2>
            <a class="col-2" href="/shows/">Go Back</a>
            {% if messages %}
            <ul class="col">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                <form action="/shows/create" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="network">Network</label>
                            <input type="text" class="form-control" id="network" name="network">
                        </div>
                        <div class="form-group col-6">
                            <label for="release_date">Release Date</label>
                            <input type="date" class="form-control" id="release_date" name="release_date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description" id="description" rows="10"></textarea>
                    </div>
                    <input class="btn btn-info" type="submit" value="Create">
                </form>
            </div>
        </div>
    </div>
</body>
</html>